body {
  background-color: antiquewhite;
}

#divPig {
  background: url('../img/pig.jpg');
}

img {
  cursor: pointer;
  margin-right: 10px;
}

.card {
  display: inline-flex;
  margin: 25px;
  width: 100%;
}

.image {
  width: 120px;
}
