$background-color: antiquewhite;

body {
    background-color: $background-color;
}

#divApiQueryAlbum {
    display: inline-flex;
    margin: 25px;
    width: 100%;
}

.divApiQueryImg {
    cursor: pointer;
    margin-right: 10px;
}

#divWebpackES6 {
    background: url('../img/pig.jpg');
}
